<template>
    <div class="search-bar">
        <h1>Stock Research Helper</h1>
        <section>
            <h2>Search the SEC for company filings</h2>
            <div>
                <label for="query">
                    <input class="search-input" id="query" v-on:input="searchSEC" placeholder="name, ticker symbol, or CIK">
                </label>
            </div>
            <!--            The list should be generated from a result of the search bar.-->
            <!--            And be hidden after click searching again-->
            <ul v-if="!selectionIsMade">
                <li v-for="(searchHit, index) in searchHits" :key="searchHit.cik" v-on:click="selectHit(index)" v-bind:class="[(index % 2 === 0) ? 'stain' : '']">{{ searchHit.entity }}</li>
            </ul>
        </section>
        <section v-if="selectionIsMade">
            <h2>{{this.searchHits[this.selectedHitIndex].entity}}</h2>
            <div>
                <table class="document-groups">
                    <thead>
                    <tr>
                        <th scope="col" id="grouping">Document group</th>
                        <th scope="col">
                            Links to the form on the SEC <a class="sec-form-info" target="_blank" href="https://www.sec.gov/forms" title="SEC information on the different forms.">(?)</a>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th class="row-header" scope="row">Financial Statements</th>
                        <td>
                            <span class="form-link" v-for="formType in this.financialStatementForms" :key="formType" v-bind:title="formType"> <a target="_blank" v-bind:href="createFormLink(formType)"> {{ formType }} </a></span>
                        </td>
                    </tr>
                    <tr>
                        <th class="row-header" scope="row">Ownership changes</th>
                        <td>
                            <span class="form-link" v-for="formType in this.ownershipChangeForms" :key="formType" > <a target="_blank" v-bind:href="createFormLink(formType)"> {{ formType }} </a></span>
                        </td>
                    </tr>
                    <tr>
                        <th class="row-header" scope="row">Debt changes</th>
                        <td>
                            <span class="form-link" v-for="formType in this.debtChangeForms" :key="formType" > <a target="_blank" v-bind:href="createFormLink(formType)"> {{ formType }} </a></span>
                        </td>
                    </tr>
                    <tr>
                        <th class="row-header" scope="row">Management related changes</th>
                        <td>
                            <span class="form-link" v-for="formType in this.managementInformationForms" :key="formType"> <a target="_blank" v-bind:href="createFormLink(formType)"> {{ formType }} </a></span>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <div>Find another form</div>
                            <div>
                                <label>
                                <input class="custom-search" type="text" placeholder="Search this form" v-model="customTarget">
                                </label>
                            </div>
                        </th>
                        <td>
                            <span class="custom-link" v-if="customTarget"><a target="_blank" v-bind:href="createFormLink(this.customTarget)"> {{ this.customTarget }} </a></span>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </section>
        <section>
            <hr>
            <div id="disclaimer">
                Disclaimer:
                This site's only intention is to ease the access to SEC filings of companies registered on the U.S. stock market for informational purposes only.
                Nothing here in constitutes investment, legal, accounting or tax advice. Or a recommendation to buy, sell or hold a security.
                Do not act or rely on the information found through this website without seeking the services of competent and professional legal, investment, accounting or tax counsel.
                The original search result can be retrieved from: <a href="https://www.sec.gov/edgar/searchedgar/companysearch.html">https://www.sec.gov/edgar/searchedgar/companysearch.html</a>.
            </div>
        </section>
    </div>
</template>

<script>
    export default {
        name: 'SearchBar',
        props: {
            msg: String,
        },
        data: function () {
            return {
               // container for search results
                searchHits: {
                    type: Array,
                    default: () => []
                },
                // toggle for showing the link section
                selectionIsMade: false,
                selectedHitIndex: '',
                // https://www.investopedia.com/articles/fundamental-analysis/08/sec-forms.asp
                // less is more, just support a few and add free form input
                financialStatementForms: ["10", "10-K", "10-Q", "20-F", "8-K"],
                ownershipChangeForms:["3", "4", "5", "SC 13", "S-8"],
                debtChangeForms:["FWP", "424"],
                managementInformationForms: ['DEF'],
                customTarget: ''
            };
        },
        methods: {
            async searchSEC() {

                // TODO: move to own method
                this.selectionIsMade = false;

                const target = "https://efts.sec.gov/LATEST/search-index"
                const query = document.getElementById('query').value
                console.log("query=", query);

                if(query === null || query.toString().trim().length === 0) {
                    while(this.searchHits.length !== 0) {
                        this.searchHits.pop();
                    }
                    return ;
                }

                const requestBody = {
                    keysTyped: query,
                    narrow: true
                };

                // https://developers.google.com/web/updates/2015/03/introduction-to-fetch
                const request = {
                    method: 'POST',
                    mode: 'cors',
                    body: JSON.stringify(requestBody)
                }

                const response = await fetch(target, request)
                    .then(data => data.json())
                    .catch(err => console.log(err));

                this.searchHits = this.transformSecResponse(response.hits.hits);
            },
            transformSecResponse(hits) {

                const transformationResult = [];

                for (let i = 0; i < hits.length; i++) {

                    const currentItem = hits[i];

                    // TODO: extend with advanced search later
                    // https://sec.report/ <= nice job
                    // https://www.sec.gov/Archives/edgar/data/1288776/000128877614000020/goog2013123110-k.htm
                    // look into testcase google -> alphabet
                    // if(!currentItem._source.tickers && this.searchOnlyCompaniesWithTicker) {
                    //     continue;
                    // }

                    const filteredItem = {
                        cik: currentItem._id,
                        entity: currentItem._source.entity,
                        entity_words: currentItem._source.entity_words,
                    };

                    transformationResult.push(filteredItem);
                }

                return transformationResult;
            },
            selectHit(index) {
                this.selectedHitIndex = index;
                this.selectionIsMade = true;
            },
            createFormLink(formType) {
                // adjust function to create a list of links to documents of several types
                const paddedCik = this.searchHits[this.selectedHitIndex].cik.padStart(10 ,'0');
                // owner=include means include ownership forms 3, 4, 5
                const formLink = "https://www.sec.gov/cgi-bin/browse-edgar?CIK=" + paddedCik + "&owner=include&count=40&type=" + formType;

                return formLink;
            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

    /* RULE: rem as basis with em as tweak for the fine points */

    /* START: search bar section */

    .search-bar {
        margin-left: 10%;
        width: 80%;
        margin-right: 10%;
    }

    .search-input {
        width: 25rem;
    }

    /* START: search result section */

    ul {
        list-style-type: none;
        padding: 0;
    }

    li:hover {
        background: #ADD8E6;
        cursor: pointer;
    }

    li:active {
        background: #81e3b7;
    }

    .stain {
        background: #D3D3D3;
    }

    /* START: document table section */

    th {
        text-align: left;
    }

    .document-groups {
        border-spacing: .5rem;
    }
    .document-groups td {
        padding: 0;
    }

    .row-header {
        font-weight: normal;
    }

    .form-link {
        display: inline-block;

        margin-top: .2rem;
        margin-right: .2rem;

        border: 1px solid #2c3e50;
        border-radius: 2px;

        background: #D3D3D3;
        width: 4rem;
        text-align: center;
    }

    .form-link:hover {
        background: #ADD8E6;
    }
    .form-link:active {
        background: #81e3b7;
    }

    .form-link a {
        color: #2c3e50;
        text-decoration: none;
        display: block;
        width: 100%;
    }
    /* START form-picker section */
    .custom-search {
        width: 97%;
    }

    .custom-link {
        display: inline-block;

        margin-top: 1.25rem;
        border: 1px solid #2c3e50;
        border-radius: 2px;

        background: #D3D3D3;
        /*width: 4rem;*/
        text-align: center;
    }

    .custom-link:hover {
        background-color: #ADD8E6;
    }

    .custom-link:active {
        background-color: #81e3b7;
    }

    .custom-link a {

        padding-left: .91rem;
        padding-right: .91rem;

        color: #2c3e50;
        text-decoration: none;
        display: inline-block;
    }

    .sec-form-info {
        color: #2c3e50;
    }

    /* START disclaimer */
    #disclaimer {
        font-style: italic;
    }

</style>
<!--https://thenounproject.com/term/rising-chart/917045/-->
